<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBancaLabel">Incluir Banca</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-show="vm.banca.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.banca.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_aluno">Aluno (selecione o ID correto!)</label>
            <select class="form-control" id="field_aluno" name="aluno" ng-model="vm.banca.aluno" ng-options="aluno as aluno.id for aluno in vm.alunos | orderBy:'id' track by aluno.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.aluno.$invalid">
            <p class="help-block"
                ng-show="editForm.aluno.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_avaliadores">Avaliadores</label>
            <input type="text" class="form-control" name="avaliadores" id="field_avaliadores"
                    ng-model="vm.banca.avaliadores"
                    required ng-minlength="10" />
            <div ng-show="editForm.avaliadores.$invalid">
                <p class="help-block"
                    ng-show="editForm.avaliadores.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.avaliadores.$error.minlength" translate-value-min="10">
                    This field is required to be at least 10 characters.
                </p>
            </div>
        </div>
        <label class="control-label" for="field_horario">Horario</label>
            <div class="input-group">
                <input id="field_horario" type="text" class="form-control" name="horario" datetime-picker="{{dateformat}}" ng-model="vm.banca.horario" is-open="vm.datePickerOpenStatus.horario"
                required  />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('horario')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        <div ng-show="editForm.horario.$invalid">
            <p class="help-block"
                ng-show="editForm.horario.$error.required">
                This field is required.
            </p>
            <p class="help-block"
                ng-show="editForm.horario.$error.ZonedDateTimelocal">
                This field should be a date and time.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
