
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPropostaLabel" data-translate="pesquisaalfaApp.proposta.home.createOrEditLabel">Create or edit a Proposta</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.proposta.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.proposta.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pesquisaalfaApp.proposta.propostaAceita" for="field_propostaAceita">Proposta Aceita</label>
            <input type="checkbox" class="form-control" name="propostaAceita" id="field_propostaAceita"
                    ng-model="vm.proposta.propostaAceita"
                     />
            <div ng-show="editForm.propostaAceita.$invalid">
                <p class="help-block"
                    ng-show="editForm.propostaAceita.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pesquisaalfaApp.proposta.teseAceita" for="field_teseAceita">Tese Aceita</label>
            <input type="checkbox" class="form-control" name="teseAceita" id="field_teseAceita"
                    ng-model="vm.proposta.teseAceita"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pesquisaalfaApp.proposta.tema" for="field_tema">Tema</label>
            <input type="text" class="form-control" name="tema" id="field_tema"
                    ng-model="vm.proposta.tema"
                    required />
            <div ng-show="editForm.tema.$invalid">
                <p class="help-block"
                    ng-show="editForm.tema.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="pesquisaalfaApp.proposta.aluno" for="field_aluno">Aluno</label>
            <select class="form-control" id="field_aluno" name="aluno" ng-model="vm.proposta.aluno" ng-options="aluno as aluno.id for aluno in vm.alunos | orderBy:'id' track by aluno.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.aluno.$invalid">
            <p class="help-block"
                ng-show="editForm.aluno.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="pesquisaalfaApp.proposta.orientador" for="field_orientador">Orientador</label>
            <select class="form-control" id="field_orientador" name="orientador" ng-model="vm.proposta.orientador" ng-options="orientador as orientador.id for orientador in vm.orientadors track by orientador.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.orientador.$invalid">
            <p class="help-block"
                ng-show="editForm.orientador.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
